.input-wrapper {
    position: relative;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper .icon {
    font-size: 20px;
    margin: 15px;
    color: #aaa;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.input-wrapper input:focus {
    border-color: #999;
}
